body {
    font-family: Arial;
    margin:0;
    padding-top: 100px;
    background: #fafafa;
}

header {
    background: rgba(255,255,255,0.2);
    backdrop-filter:blur(10px);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index:1000;
    text-align:center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2) ;
}
nav{
display:flex;
justify-content:center;
align-items:center;
gap:30px;
}
nav a {
    color: black;
    padding:10px 20px;
    font-size:18px;
    font-weight: 600;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}



form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #5A4FCF;
    color: white;
    border: none;
    padding: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin-left:60px;
    margin-right: 60px;
    font-family:'Poppins' , sans-serif;

}

@media(max-width: 768px) {
    body  {
        margin-left: 20px;
        margin-right: 20px;
    }
}
section {
    margin-top: 20px;
}
.home-bg {
    background-image: url("home.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
}
.fade-in {
    animation: fadeIn 1.2s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity:1;}
}
.typing {
    width:16ch;
    overflow:hidden;
    white-space:nowrap;
    border-right:3px solid;
    animation:typing 3s steps(16),blink.5s step-end inifinite;
}
@keyframes typing{
    from{width:0;}
}
@keyframes blink{
    50%{border-color:transparent;}
}
.profile{
    width:180px;
    border-radius:50%;
    transition:0.3s;
}
.profile:hover {
    transform:scale(1.1);

}
.card {
    background: white;
    padding:15px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    margin:20px;

}
.container {
    
    

    
    width: 100%;        
       
    
}