body {
    font-family: Arial;
    margin: 0;
    background: #fafafa;
}

header {
    background: #5A4FCF;
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.highlight {
    color: #FF6F61;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #5A4FCF;
    color: white;
    border: none;
    padding: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin-left:60px;
    margin-right: 60px;
    font-family:'Poppins' , sans-serif;

}
section  { 
    margin-top: 50px;
}
@media(max-width: 768px) {
    body  {
        margin-left: 20px;
        margin-right: 20px;
    }
}